# --- JAVA & MAVEN ---
backend/HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
bin/
build/
.gradle/

# --- DATA SCIENCE & PYTHON  ---
.ipynb_checkpoints/
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.zip
*.csv
olist_data/

# --- IDEs (IntelliJ, VS Code, STS) ---
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache

# --- OS ---
.DS_Store
Thumbs.db